/* styles.css */
.FlexContainer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    width: 65%;
    background-color: #2f1d58;
    height: 80vh;
    overflow: auto;
    flex-direction: row;
}

.FlexContainer div {
    width: 200px;
    height: 200px;
    margin: 40px;
    background-color: lightblue;
}

.container {
    text-align: center;
    background-color: royalblue;
    width: 65%;
    padding: 20px 0px;
}

.reveal-button {
    margin-bottom: 20px;

}

.hidden-content {
    padding: 10px 80px;
}

button {
    font-size: 20px;
    margin: auto;
    width: 100px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid;
    background: none;
    color: whitesmoke;
    display: block;
}

ul {
    text-align: center;
    list-style-type: none;
    background-color: chocolate;
    width: 300px;
}
