.container {
    border: 2px solid black;
    text-align: center;
    background-color: lightcyan;
}

#main-heading{
    font-size:25px; 
}

/* Remove dots in list */
ul{
    list-style-type: none;
}

.list-items{
    font-size:18px;
}