/* Stop Watch Styling */

body{
height: 100vh;
background:url(../images/hourGlass.jpg)no-repeat center center/cover;
display: flex;
justify-content:center; 
align-items:center;
}

.container{
    width: 60%;
    height:250px;
    background-color: #fff;
    border-radius:30px;
    box-shadow: 0 0 3px;
}

#timer{
    width: 90%;
    font-size: 72px;
    text-align: center;
    padding: 35px;
   
}
.buttons{
    text-align: center;
    margin-right: 30px;
}
#startStopBtn{
    padding: 20px 20px;
    background-color: red;
    border-radius: 10px;
    box-shadow: 0 0 5px;
    margin-right: 8px;
}
#resetBtn{
    padding: 20px 20px;
    background-color: green;
    border-radius: 10px;
    box-shadow: 0 0 5px;
}
#play{
    background-color: green;
}
#pause{
    background-color: orange;
}

#reset{
    background-color: red;
}